/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #fff;
    --secondary: #D7D7D7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    scroll-behavior: smooth;
}

svg {
    width: 28px;
    height: 28px;
}

/* header section  */
/* navigation design */
.navigation {
    margin: 1rem 0 0 0;
    position: relative;
}

.navigation>ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -250px;
    transition: 0.5s;
}

.navigation li {
    background-color: #000000;
    border: 1px solid #666;
}

.navigation li,
.navigation li a {
    font-weight: 500;
    padding: 12px 14px;
    text-decoration: none;
    color: white;
}


.navigation .contact-me:hover a {
    background: black;
    color: white;
}

/* navigation */

.navigation .icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

.navigation .icon svg:last-child {
    display: none;
}

.navigation.responsive>ul {
    top: 0px;
}

.navigation.responsive svg {
    fill: white;
}

/* navigation design end */

/* For diagonal */
.diagonal {
    overflow: hidden;
    position: relative;
    min-height: 70vh;
    -webkit-transition: opacity 350ms linear;
    -moz-transition: opacity 350ms linear;
    -ms-transition: opacity 350ms linear;
    -o-transition: opacity 350ms linear;
    transition: opacity 350ms linear;
    margin-bottom: 40px;
}

.diagonal>* {
    position: relative;
    z-index: 2;
}

.diagonal:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent var(--secondary) transparent;
    border-width: 0 0 1000px 400px;
}


.content {
    background: transparent;
    padding: 0 4%;
}


/* diagonal design end */

/* hero design */
.hero {
    display: grid;
    grid-template-columns: 1rf 1fr;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -144px auto 0 auto;
    padding: 0 5px;
}

.hero div {
    margin: 0 auto;
}

.diagonal .hero h3 {
    font-weight: 700;
    font-size: 5vh;
    margin-bottom: 20px;
}

.diagonal .hero h1 {
    font-weight: 800;
    font-size: 8vh;
    margin-bottom: 8px;
}

.diagonal .hero h1 span {
    color: #555;
}

.diagonal .hero p {
    font-weight: 700;
    font-size: 3.5vh;
    color: #666;
    margin-bottom: 8px;
}

.diagonal .hero .resume-link {
    font-weight: 700;
    font-size: 3vh;
}

.hero .hero-social-media {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.hero .hero-social-media a {
    background-color: var(--secondary);
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.hero .hero-social-media a:hover {
    background-color: #eee;
    transform: scale(1.1);
    transition: all;
}

.hero figure {
    background: #f8f8f8;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3vw;
    border-radius: 8px;
}

.hero img {
    height: 200px;
    border-radius: 8px;
    margin: 0 auto;
}

/* hero design  end*/

/* header section end  */

/* skill section */

.skills {
    margin-bottom: 2.5rem;
}

.section-title {
    text-align: center;
}

.section-title * {
    margin-bottom: 0.4rem;
}

.section-title h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

/* Skills Card design */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    gap: 40px;
}


body .container .card {
    position: relative;
    min-width: 220px;
    height: 250px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3),
        -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.5s;
}

body .container .card .box {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: var(--secondary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

body .container .card .box:hover {
    /* transform: translateY(-30px); */
}

body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
    padding: 20px;
}

.card-icon {
    position: absolute;
    top: -10px;
    right: 30px;
}

.card-icon svg {
    width: 8rem;
    height: 8rem;
    fill: rgba(255, 255, 255, 0.3);
}

.card-footer {
    z-index: 1;
    transition: 0.5s;
}

.card-footer li {
    margin-bottom: 0.4rem;
}

.card-footer h3 {
    font-size: 1.8rem;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

/* Card design end */

/* skill section end */

/* projects section design */

.projects .card-container {
    margin-bottom: 4rem;
}

/* Project card */
.container .project-card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    width: 220px;
}

.container .project-card .card-header {
    padding: 8px;
    display: grid;
    place-items: center;
    background: #444;
    color: white;
    position: relative;
}

.container .project-card .card-header img {
    width: auto;
    max-height: 160px;
}

.container .project-card:hover .card-header .card-img {
    background: var(--secondary);
    opacity: 0.05;
    transition: all 0.5s ease-in-out;
}

.container .project-card .card-header .project-details {
    list-style: none;
    position: absolute;
    opacity: 0;
    bottom: 0;
    max-height: 0;
    padding: 1rem;
}

.container .project-card .card-header .project-details > li {
    margin-bottom: 0.8rem;
}

.container .project-card:hover .card-header .project-details {
    display: block;
    z-index: 1;
    bottom: 80%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.container .project-card .card-details {
    padding: 1rem;
}
.container .project-card .card-details .card-details-titles {
    margin-bottom: 0.5rem;
}

.container .project-card .card-details .card-details-titles h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.3rem;
}

.container .project-card .card-details-titles .icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}


.container .project-card .card-details .tec-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 14px;
}

.container .project-card .card-details .tec-list li {
    display: inline-block;
    padding: 5px;
    background: #444;
    color: #fff;
    border-radius: 6px;
}

/* Project card end*/

/* projects section design end */


/* contact section design */
.contact {}

/* contact form design */
.contact-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 24px;
    width: 70%;

}

.contact-container .contact-form {}

.contact-container .contact-form div {
    margin-bottom: 18px;
}

.contact-container .contact-form h3 {
    text-align: center;
    margin-bottom: 18px;
}


.contact-container .contact-form label {
    display: block;
    font: medium;
    margin-bottom: 12px;
}

.contact-container .contact-form input,
textarea {
    background-color: #eee;
    width: 100%;
    padding: .50rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.contact-container .contact-form textarea {
    font: medium;
    font-size: 16px;
    font-weight: 400;
    resize: none;
}

.contact-container .contact-form .submit-btn {
    padding: 12px 8px;
    color: #fff;
    background-color: #222;
    border-radius: .25rem;
    border: #333;
    cursor: pointer;
}

.contact-container .contact-form .submit-btn:disabled {
    opacity: 0.65;
    cursor: auto;
}


/* contact form design end */

/* contact details */

.contact-container .contact-details {
    text-align: center;
}

.contact-container .contact-details .contact-details-title {
    display: inline-block;
    font-size: small;
    text-align: center;
    background-color: #ced4da;
    padding: 7px 16px;
    border-radius: 8px;
    opacity: 0.8;
    margin-bottom: 16px;
}

.contact-container .contact-details div div {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.contact-container .contact-details div div>p {
    font-weight: 700;
}

.contact-container .contact-details div div>svg {
    height: 20px;
    width: 20px;
}


.contact-container .contact-details button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.contact-container .contact-details button:hover {
    transform: scale(1.1);
    transition: all;
    fill: #555;
}

.contact-container .contact-details>p {
    margin-bottom: 12px;
}

.contact-container .social-media-platforms {}

.contact-container .contact-details .social-media-platforms a {
    text-decoration: none;
    margin-left: 16px;
    cursor: pointer;
}

/* contact details end */

/* contact section design end */

/* footer section design */

footer {
    padding: 44px 0;
    background: #F9FAFB;
    text-align: center;
    font-size: small;
}

footer span {
    font-weight: 600;
}

/* footer section design end */

/* snackbar section */

#snackbar {
    visibility: hidden;
    min-width: 230px;
    margin-left: 0;
    background-color: var(--secondary);
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 30px;
    bottom: 30px;
    font-size: 14px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* snackbar section end */


/* Container Design */
.container {
    width: 100%;
    margin: 0 auto;
    transition: width .1s;
    margin-bottom: 40px;
}

@media (min-width: 640px) {
    .container {
        width: 640px;
    }

    /*hero section */
    .hero {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    /* navigation */


    .contact-container {
        flex-direction: column-reverse;
    }

    .projects .card-container {
        gap: 40px;
    }

}


@media (min-width: 768px) {
    .container {
        width: 768px;
    }

    /* diagonal */
    .diagonal:after {
        border-width: 0 0 1700px 500px;
    }

    .hero {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        padding: 0;
    }

    /* navigation */
    .navigation {
        margin: 3rem 0;
        background-color: transparent;
    }

    .navigation>ul {
        justify-content: center;
        gap: 4rem;
        flex-direction: row;
        top: 0px;
    }

    .navigation li {
        background-color: transparent;
        border: 0px;
    }

    .navigation li a {
        background-color: transparent;
        color: black;
        padding: 7px 14px;
        border-radius: 6px;
        cursor: pointer;
    }

    .navigation li:hover a {
        background-color: #000000;
        color: white;
    }

    .navigation .contact-me a {
        padding: 7px 24px;
        border-radius: 16px;
        background-color: white;
        color: black;
    }

    .navigation .icon {
        display: none;
        cursor: pointer;
    }

    /* navigation end */

    .hero {
        margin: 0 auto;
    }

    .contact-container {
        flex-direction: row;
    }
}

@media(min-width: 992px) {
    .diagonal:after {
        border-width: 0 0 2500px 1000px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }

    .hero {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        width: 1536px;
    }
}